.main-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.main-profile::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
}

.navigation-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 20%;
    height: 5%;
    bottom: 2rem;
}

.btn-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 8%;
    cursor: pointer;
    margin: 15px;
    transition: all 0.3s ease-in-out;
}

.btn-tab:hover {
    transform: translateY(-2px);
}

.profile-presentation {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
}

.profile-presentation.active {
    visibility: visible;
    opacity: 1;
    transition: all 0.4s ease-in;
}

.profile-presentation .register-text {
    color: white;
    position: absolute;
    top: 1.5rem;
    left: 5rem;
}

.profile-presentation form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 75%;
}

.profile-details {
    position: absolute;
    top: 0;
    width: 100%;
    height: 85%;
}
