.profile-details-main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.profile-crud-buttons {
    display: flex;
    align-items: center;
    justify-content: end;
    position: absolute;
    width: 40%;
    height: 8%;
    top: 1rem;
    right: 1rem;
}

.profile-details-main .form {
    display: flex;
    align-items: end;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.profile-show-infos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    color: white;
    width: 30%;
    height: 85%;
}

.profile-show-infos h2 {
    font-size: 34px;
    height: 10%;
}

.profile-show-infos p {
    font-size: 18px;
}

.profile-show-infos span {
    font-size: 14px;
    margin-top: 1rem;
}

.profile-image-options {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    width: 10%;
    height: 30%;
    top: 1.5rem;
    left: 5rem;
}

.profile-form {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 70%;
    height: 100%;
}